@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');

body{
    background:rgba(15,15,15, 0.9)
    url(images/bacground_contact.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}
header{
    height: 114px;
    flex-shrink: 50px;
    display:flex;
}
.logo{
    width: 9.5rem;
    height: 11.1875rem;
    flex-shrink: 0;
    margin-left: 155px;
    /* margin-right: 299px; */
}
nav a{
    color: #FFF;
font-family: Barlow;
font-size: 1.24rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
margin-left: 2.25rem;

}
nav {
    margin-top: 4.12rem;
    margin-left:16.44rem;
}
.active{
    color: #F2860A;
}
.icone{
    margin-top: 4.3125rem;
    margin-right:5.12rem;
    margin-left: 10.69rem;
}
.box_icon{
    height: 15px;
    width:15px ;
    margin-right: 1.2rem;
}
/*BANNIERE*/
.contacter_nous{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #FFF;
    margin: 7rem;
}
.formulaire{
    background: #ffff;
    margin: 10%;
}
.container_formulaire{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bloc_droit{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bloc_droit h2{
    padding: 15px;
    margin-bottom: -30px;
    margin-left: 16%;
}
form{
    display: grid;
    grid-template-rows: 50px 50px 50px 200px;
    padding: 100px;
}
form input{
    margin-bottom: 2%;
}
button{
background: #F2860A;
display: flex;
justify-content: center;
padding: 18px 32.79px 18px 32.99px;
align-items: center;
color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
width: 80px;
border: none;
height: 30px;
padding-top: -5%;
}
.bloc_gauche{
    display: grid;
}
.formulaire_contact{
    margin-top: -160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.bloc_gauche h3{
color: #000;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 44.8px;
margin-bottom: -30px;
margin-left: 50px;
}
.formulaire_contact .icones_contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.formulaire_contact .icones_contact img{
    width: 50px;
    height: 50px;
}
.contact_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: -220px;
}
.suivez-nous{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: -150px;
}
iframe{
    width: 100%;
}
/*styles du footer*/
footer{
    margin-top: 100px;
    background: #0000;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}
.container_bloc_footer{
    padding-top: 70px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    width: 110%;
}
.footer__bloc_1{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.j_1{
    width: 177px;
    height: 61px;
    top: -6.5px;
    left: 330px;
}
.footer__icone{
    margin-top: 80px;
    gap: 18px;
    padding: 0.72px, 88.5px, 0px, 0px;
    left: 330;
    top: 112px
}
.newsletter{
display: flex;
background: black;
color: white;
left: 330px;
}
.container_news h1{
    display: flex;
    flex-direction: row;
    background: #0000;
}
.newsletter{
    margin: 0;
    display: flex;
    flex-direction: column
}
.newsletter h2{
    margin-left: 100px;
}
.newsletter form{
    margin-top: -110px;
    margin-left: -98px;
    display: flex;
    align-items: center;
}
.newsletter .mail{
    margin-left: 100px;
    border:none;
    height: 30px;
    width: 237px;
    background: white;
    padding-left: 17px;
}
.newsletter .footer_txt{
    margin-left: -100px;
    background: #FF5E14;
    width: 254px;
    padding-left: 17px;
    height: 30px;
}
 footer .copywrite{
    background: black;
    color: #72767b;
    display: flex;
    justify-content: space-around;
}
.copywrite{
    margin-left: -100px;
    margin-top: -100px;
    display: flex;
}
.copywrite p{
    padding-top: 30px;
}