@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');
*{
    margin-right:0;
    padding-right:0
}
header{
    height: 70px;
    display:flex;
}
.entete{
    background-image: url("images/background.jpg"); 
    /* width: 200%; */
   height: 40.75rem;
   background-repeat: no-repeat;
   background-size: cover;
}
.logo{
    width: auto;
    height: 7rem;
    margin-left: 155px;
    /* margin-right: 299px; */
}
nav a{
    color: #FFF;
   font-family: Barlow;
   font-size: 1.24rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
   margin-left: 2.25rem;

}
nav {
    margin-top: 2rem;
    margin-left:16rem;
}
.icone{
    margin-top: 2.5rem;
    margin-right:5.12rem;
    margin-left: 10.69rem;
}
.icon{
    height: 15px;
    width:15px ;
    margin-right: 1rem;
}
hr{
    border: 1px solid rgba(255, 253, 253, 0.50);
    background: rgba(217, 217, 217, 0.00);
}
/* style des services */
.div_services h2{
    color: #1A1A1A;
font-family: Barlow;
font-size: 2.5rem;
font-style: normal;
font-weight: 600;
line-height: 3.25rem; 
margin-left: 3rem;
}
.div_services p{
    color: #5A5A5A;
    font-family: Barlow;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.32563rem; /* 177.19% */
    letter-spacing: 0.13781rem;
    width: 77.625rem;
    margin-left: 3rem;
} 
.number{
    color: #F2860A;
font-family: Barlow;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 120% */
display: flex;
}
.soustitre{
    color: #000;
font-family: Roboto;
font-size: 1.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.image1{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
background: url("images/médiatique.jpg"), lightgray 50% / cover no-repeat;
margin-bottom: 0.5rem;
}
.image2{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
background: url("images/cérémonie.png"), lightgray 50% / cover no-repeat;
margin-bottom: 0.5rem;
    
}
.image3{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
background: url("images/diffusion.jpg"), lightgray 50% / cover no-repeat;
margin-bottom: 0.5rem;
}
.image4{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
background: url("images/photographie.png"), lightgray 50% / cover no-repeat;
margin-bottom: 0.5rem;
}
.image5{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
background: url("images/multilingue.jpg"), lightgray 50% / cover no-repeat;
margin-bottom: 0.5rem;
}
.image6{
    width: 21.6875rem;
    height: 13.4375rem;
    border-radius: 0.3125rem;
    background: url("images/videographie.jpg"), lightgray 50% / cover no-repeat;
    margin-bottom: 0.5rem;
}
.btn_savoir_plus{
    width: 9.5rem;
height: 3.1875rem;
background: #F2860A;
color: #FFF;
font-family: Barlow;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.85688rem; 
border: none;
}
.box p{
    width: 22.1875rem;
    color: #5A5A5A;
font-family: Barlow;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 29.71px; 
} 
.caisse{
    display:flex;
   flex-wrap:wrap;
   gap: 1rem;
   justify-content: space-around;
}
/* style specialisation */
.div_specialisation h2{
    color: #FFF;
   font-family: Barlow;
   font-size: 2.5rem;
   font-weight: 600;
   line-height: 52px; /* 130% */
  /* margin-left: 5rem; */
}
.div_specialisation p{
    /* color: #FFF; */
font-family: Barlow;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 29.71px; 
width: 50rem;
/* margin-left: 9rem; */
}
.div_specialisation{
    margin-left: 11rem;
}
.contenu img{
    color: #F2860A;
text-align: center;
font-family: Font Awesome 5 Free;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 100% */
}
.contenu h3{
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 100% */
}
.contenu p{
    /* color: #FFF; */
font-family: Barlow;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.7rem; /* 148.55% */
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.specialisation{
    background: rgba(33, 33, 36, 0.97);;
    color:  #FFF;
    background-size:cover;
}
#content2{
    padding-bottom: 3rem;
}
/* style footer */
.iconefooter{
height: 1rem;
margin-right:2rem
}
.supplement{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-around;
    padding: 2rem;
}
footer a{
    text-decoration: none;
    color:#FFF
}
.logodigital{
    margin-bottom: 4rem;
}
footer{
    color:#FFF;
   background: rgba(0, 0, 0, 0.85);
}
.newsletter{
    font-size:1.8rem
}
footer input{
    color:black;
    height: 2.3125rem;
}
footer button{
    background-color: #F2860A;
    border: none;
    color: white;
    height: 2.3125rem;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: #CBD2DE;
   font-family: Open Sans;
    font-size: 1rem;
   font-style: normal;
   font-weight: 400;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .caisse{
     display:grid;
     grid-template-columns:500px 500px ;
     margin-left: 40rem;
    }
    .entete{
        /* background-image: url("images/minibackground.png"); */
       height: 40rem;
       width: max-content;
    }
     nav{
        visibility: hidden;
     }
     .icone{
        visibility: hidden;
     }
    body{
        overflow-x: hidden;
    }
    .div_services h2{
       font-size: 2.5rem;
       margin-left:32rem ;
    }
    .div_services p{
        width: 75rem;
    }
    .div_specialisation h2{
       text-align: center;
      }
      .div_specialisation p{
        text-align: center;
        margin-left: 20rem;
      }
      .specialisation{
        width: 1380px;
      }
      .contenu img{
       margin-left: 8rem;
      }
      .supplement{
        display: grid;
    }
    .div_specialisation{
        margin-left: 0;
    }
    footer{
        width: max-content;
    }
    }
  
       
    
  



    