@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');


body{
    margin-top: 0;
    overflow-x: hidden;
   margin-right: 0;
   width: 100ù;
 
}
/*-------------------------SECTION Banniere -------------------------*/
.banniere{
    background: linear-gradient( #282121bf, #282121bf),  url(images/Section\ \(1\).png );
    margin-left: 0;
    background-repeat: no-repeat;
    margin-right: 0;
    
    
}
header{
    height: 114px;
    flex-shrink: 50px;
    display:flex;
    

}
.logo{
    width: 9.5rem;
    height: 11.1875rem;
    flex-shrink: 0;
    margin-left: 155px;
    /* margin-right: 299px; */
}
nav a{
    color: #FFF;
   font-family: Barlow;
   font-size: 1.24rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
   margin-left: 2.25rem;
    font-family: Barlow;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-left: 2.25rem;
}
#acceuil {
    color: #FF5E14;
}
nav {
    margin-top: 4.12rem;
    margin-left:16.44rem;
}
.icone{
    margin-top: 4.3125rem;
    margin-right:5.12rem;
    margin-left: 10.69rem;
}
.box_icon{
    height: 15px;
    width:15px ;
    margin-right: 1.2rem;
}
h1{
    color: #FFF;
    font-family: Barlow;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.4rem;
    margin-top: 15.59rem;
    margin-left: 155px;
}
p{
    color: #FFF;
    font-family: Barlow;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 5.4rem; /* 270% */
    margin-left: 155px;
    margin-top: 3px;
}
button{
    background-color: #F2860A;
    color: white;
    border: none;
    width: 193px;
    height: 52px;
    margin-left: 10rem;
    margin-bottom: 4.96rem;
}
 .bouton button{
    background-color: #F2860A;
    color: white;
    border: none;
    width: 193px;
    height: 52px;
    margin-left: 10rem;
    margin-bottom: 4.96rem;
}

.decouvrir{
    width: 6.0625rem;
    height: 0.875rem;
} 
/*-------------------------SECTION BIENVENUE -------------------------*/
.bienvenue-chez-digital-Event’s{
    /* margin-left: 6.5rem;  */
    margin-right: 7.53rem;
    display: flex;
    text-align: left;
}
.title-bienvenue-chez-digital-Event’s{
    width: 37rem;
    height: 39rem;
}
.title-bienvenue-chez-digital-Event’s h1{
    width: 21.25rem;
    height: 6.5rem;
    color: #1A1A1A;
    font-family: Barlow;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem; /* 130% */
    margin-top: 5.31rem;
    margin-left: 6.5rem; 
}
.title-bienvenue-chez-digital-Event’s img{
   margin-top: 1.23rem; 
   margin-left:6.5rem ;
   width: 4rem;
   height:0.25rem;
   border-top: 4px solid #F2860A;
   /* margin-left: 9.8rem; */
}
.text{
    margin-left: 0.94rem;
    width: 32.8125rem;
    height: 24.8125rem;
}
.text h2{
    margin-left: 6.5rem;   
}
.text p{
    margin-left: 6.5rem;  
    color: #000;
    text-align: justify;
    font-family: Barlow;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.58125rem; /* 180.714% */
    }
/* .text button{
    background: #F2860A;
    margin-top: 4.06rem;
    margin-left: 6.5rem;
} */
.text button{
    background-color: #F2860A;
    color: white;
    border: none;
    width: 193px;
    height: 52px;
    margin-left: 10rem;
    margin-bottom: 4.96rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding: 0.75%; */
    margin-left: 100px;
    padding: 1.125rem 2rem;
    align-items: flex-start;
}
.text img {
    width: 0.875rem;
    height: 0.875rem;

}
.propos-de-nous{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.575rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem; /* 100% */
    text-transform: capitalize;
    padding-left: 0.12rem;
}
.invité{
    margin-top: 5.31rem;
    margin-right: 7.53rem;
}
/*-------------------------SECTION MAITENANT -------------------------*/
.c-est-maintenant{
    background-image: linear-gradient( #282121bf, #282121bf), url(images/Section.jpg );
    width: 91.5rem;
    height: 26.125rem;
    margin-top: 7.31rem;
}
.c-est-maintenant img{
    justify-content: center ;
    margin-left: 44.06rem;
    margin-right: 43.23rem;
    width: 4rem;
    height: 0.25rem;
    margin-top: 6.5rem;
}
.maitenant h2{
    color: #FFF;
    width: 37.18rem;
    height:  3.25rem;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 27.63rem;
    }
.maitenant p {
    width: 61.375rem;
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.85688rem; /* 185.687% */
    padding-left: 10.53rem;
    padding-top: 0.1rem;
    }
 
    /* .maitenant{
        background-color: #F2860A;
        color: white;
        border: none;
        width: 193px;
        height: 52px;
        margin-left: 10rem;
        margin-bottom: 4.96rem;
    }
    
    .maitenant.nous-contacter{
        width: 6.0625rem;
        height: 0.875rem;
    } */


    /*-------------------------SECTION Nos Spécilalités-------------------------*/
    .specialité{
        display: flex;
        margin-top: 5.5rem;
    }
    .camera{
        margin-left: 5.5rem;
    }
    
    .Nos-specialité h3{
        color: #1A1A1A;
        font-family: Barlow;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3.25rem; /* 130% */
        margin-left: 2rem;
        margin-top: 0;

    }
    .Nos-specialité p{
        color: #000;
        font-family: Barlow;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.51313rem; /* 151.312% */
        margin-left: 2.5rem;
        width: 34.6rem;
        height: 6.75rem;
        padding-top: 0px;
       
    }
    .Nos-specialité hr{

    }
    .nos-elements{
        display: flex;
    }

    .evenement{
        display: flex;
    }
    .evenement img{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 2rem;
        margin-left: 2.6rem;
    }
    .evenement .description h5 {
        color: #1A1A1A;
        font-family: Barlow;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 120% */
        width: 12.5rem;
        height: 3rem;
        margin-left: 1rem;
    }
    .evenement p{
        
        width: 20.875rem;
        height: 7rem;
        color: #5A5A5A;
        font-family: Open Sans;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.38813rem; /* 158.643% */
        padding-top: 0;
        margin-left: 1rem;
        margin-right: 1.63rem;
    }
    .Logistique{
        display: flex;
    }

    .Logistique img {
        width: 1.3125rem;
        height: 1.25rem;
        margin-left: 2.6rem;
    }
    .Logistique .description h5{
        color: #1A1A1A;
        font-family: Barlow;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 120% */
        margin-top: 0;
        margin-left: 1rem;
    }
    .Logistique p{
        color: #5A5A5A;
        font-family: Open Sans;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.85688rem; /* 212.214% */
        margin-left: 1rem;
        width: 19.75rem;
        height: 9.31rem;
    }
    .equipement-autovisuel{
        display: flex;
        margin-top: 1.5rem;
        margin-left: -3rem;

    }
    .equipement-autovisuel img{
        width: 2.375rem;
        height: 2rem;
        margin-right: 4rem;
        margin-bottom: -2px;

    }
    .equipement-autovisuel h5{
        color: #1A1A1A;
        font-family: Barlow;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 120% */
        width: 13.56rem;
        height: 3rem;
        margin-top: 2px;
        margin-left: 1px;
        padding-right: 1px;
    }
    .equipement-autovisuel .description{
        margin-right: 90px;
    }
    .equipement-autovisuel p{
        padding-right: 90px;
        font-size: 0.95rem;
        margin-top: 2px;
        padding-right: 60px;
        color: #5A5A5A;
        font-family: Open Sans;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.85688rem; /* 212.214% */
        margin-left: 1rem;
        width: 19.75rem;
        height: 9.31rem;
    }
    .equipement-autovisuel .description{
        padding-right: 80px;
    }
    .equipement-autovisuel button{
        padding-right: 60px;
    }
    /*-------------------------SECTION MAINTENANT 2-------------------------*/
    .c-est-maintenant2{
        background: linear-gradient( #282121bf, #282121bf), url(images/Section.png );
        width: 91.5rem;
        height: 26.125rem;
        margin-top: 7.31rem;
    }
    .c-est-maintenant2 img{
        justify-content: center ;
        margin-left: 44.06rem;
        margin-right: 43.23rem;
        width: 4rem;
        height: 0.25rem;
        margin-top: 6.5rem;
    }
    .maitenant2 h2{
        color: #FFF;
        width: 37.18rem;
        height:  3.25rem;
        text-align: center;
        font-family: Barlow;
        font-style: normal;
        font-size: 2.5rem;
        font-weight: 400;
        padding-left: 27.63rem;
    }
    .maitenant2 p {
            width: 61.375rem;
            height: 6rem;
            flex-direction: column;
            justify-content: center;
            color: #FFF;
            text-align: center;
            font-family: Open Sans;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.85688rem; /* 185.687% */
            padding-left: 10.53rem;
            padding-top: 0.1rem;
        }
      
       
    /*-------------------------SECTION NOTRE EQUIPES-------------------------*/

    .notre-equipe{
        height: 1119px;
        background-color: F4F8FD;
    }
    .notre-equipe h1{
        margin-top: 9.06rem;
        margin-left: 9.06rem;
        color: #000;
        font-family: Barlow;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3.25rem; /* 130% */
    }
    .notre-equipe .souligne{
        margin-left: 9.06rem;
    }
    .notre-equipe p {
         width: 73.625rem;
        color: #000;
        text-align: justify;
        font-family: Barlow;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.34375rem; /* 267.857% */
    }
    .ligne {
        margin-left: 9.06rem;
        margin-right: 9.44rem;
        width: 100%;
    
    }
    .ligne img{
        margin-top: 6rem;
    }
    /*-------------------------SECTION FOOTER-------------------------*/
    footer{
        background: #0000;
        display: flex;
        flex-direction: column;
        background: #F4F8FD;
        width: 100%;
    }
    .container_bloc_footer{
        width: 100%;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
        padding-bottom: 80px;
        padding-top: 50px;
    }
    
    .footer__icone{
        justify-content: space-between;
    }
    .footer__bloc_1{
        display: flex;
        flex-direction: column;
        margin-left: 161px;
    }
    /* .newsletter{
    display: flex;
    background: black;
    color: white;
    left: 30px;
    }
    .newsletter p{
        margin-left: 100px;
        border:none;
        height: 37px;
        width: 137px;
        color: white;
        padding-left: 17px;
    }
    .newsletter .footer_txt{
        margin-left: -100px;
        background: #FF5E14;
        width: 254px;
        padding-left: 17px;
    } */

    .newsletter {
        display: flex;
        margin-right: 10px;
    }
    
    .newsletter .email {
        border: none;
    }
    .newsletter .text{
        color: #000;
    }
    .footer__bloc_2{
        width: 90px;
        height: 114.13px;
        font-size: 1.5rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4375rem;
        line-height: 1.85688rem; /* 185.687% */
        color: white;
        margin-left: 60px;
        margin-top: 50px;
     }
     .footer__bloc_2 a {
        text-decoration: none;
        color: #FFF;
     }
     /* .footer__bloc_3{
        width: 15.9rem;
        margin-left:30px ;
        border: none;
     } */
     .footer__bloc_3 .email{
        margin-left: 50px;
     }
     .footer__bloc_3{
        margin-top: 150px;
        margin-right: 120px;
     }
     .footer__bloc_4{
        line-height: 2.0625rem; /* 150% */
        font-size: 1.2rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4375rem;
        line-height: 1.85688rem; /* 185.687% */
        color: white;
        margin-left: 10px;
        margin-top: 50px;
     }
     .footer__bloc_4 a {
        text-decoration: none;
        color: #FFF;
     }
     .email{
        margin-left: 100px;
     }
     .newsletter button{
        margin-left: -3px;
        height: 22px;
        margin-top: 18px;
     }
     .footer__bloc_3 h4{
        color: #FFF;
        font-size: 1.5rem;
        margin-top: -30px;
        margin-left: -50px;
     }
     





    
















>>>>>>> feature/acceuil
